[flake8]
max-line-length = 79
exclude = 
    migrations
    views.py
    tests.py
    serializers.py
    models.py
    gateway.py
    settings.py
    datafactory.py
    performanceCalc.py
    pitch.py
    pitchInputs.py
    pitch_input.py
    pitch_gpt.py
    json_parsing.py
    pitcc_deck.py
    searchData.py

